
html {
    background-color: #252727;

}
body {
    background-color: #252727;
  }
  
#site-header {
    background-color: #252727;

}
#site-footer {
    background-color: #252727;
}

#mobile-menu {
    background-color: #252727;
}